<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p14_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p14_fl_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{535,368}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>sourceSize</key>
                <string>{569,376}</string>
            </dict>
            <key>p14_fl_2</key>
            <dict>
                <key>frame</key>
                <string>{{632,1180},{559,366}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>sourceSize</key>
                <string>{569,376}</string>
            </dict>
            <key>p14_lb_1</key>
            <dict>
                <key>frame</key>
                <string>{{1688,2},{231,142}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{231,146}</string>
            </dict>
            <key>p14_lb_2</key>
            <dict>
                <key>frame</key>
                <string>{{1688,146},{217,142}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>sourceSize</key>
                <string>{231,146}</string>
            </dict>
            <key>p14_lb_3</key>
            <dict>
                <key>frame</key>
                <string>{{1688,468},{179,142}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>sourceSize</key>
                <string>{231,146}</string>
            </dict>
            <key>p14_lb_4</key>
            <dict>
                <key>frame</key>
                <string>{{1869,558},{169,142}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>sourceSize</key>
                <string>{231,146}</string>
            </dict>
            <key>p14_lb_5</key>
            <dict>
                <key>frame</key>
                <string>{{1660,612},{165,142}}</string>
                <key>offset</key>
                <string>{-24,2}</string>
                <key>sourceSize</key>
                <string>{231,146}</string>
            </dict>
            <key>p14_lb_6</key>
            <dict>
                <key>frame</key>
                <string>{{1827,702},{161,142}}</string>
                <key>offset</key>
                <string>{-26,2}</string>
                <key>sourceSize</key>
                <string>{231,146}</string>
            </dict>
            <key>p14_pk_1</key>
            <dict>
                <key>frame</key>
                <string>{{1688,290},{196,176}}</string>
                <key>offset</key>
                <string>{-19,-215}</string>
                <key>sourceSize</key>
                <string>{668,634}</string>
            </dict>
            <key>p14_pk_2</key>
            <dict>
                <key>frame</key>
                <string>{{539,772},{398,358}}</string>
                <key>offset</key>
                <string>{-17,-124}</string>
                <key>sourceSize</key>
                <string>{668,634}</string>
            </dict>
            <key>p14_pk_3</key>
            <dict>
                <key>frame</key>
                <string>{{1028,610},{630,568}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>sourceSize</key>
                <string>{668,634}</string>
            </dict>
            <key>p14_pk_3a</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{628,556}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>sourceSize</key>
                <string>{668,634}</string>
            </dict>
            <key>p14_pk_4</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{658,606}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>sourceSize</key>
                <string>{668,634}</string>
            </dict>
            <key>p14_rb1</key>
            <dict>
                <key>frame</key>
                <string>{{1921,2},{89,140}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{101,144}</string>
            </dict>
            <key>p14_rb2</key>
            <dict>
                <key>frame</key>
                <string>{{1921,144},{83,140}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>sourceSize</key>
                <string>{101,144}</string>
            </dict>
            <key>p14_rb3</key>
            <dict>
                <key>frame</key>
                <string>{{1886,422},{75,134}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>sourceSize</key>
                <string>{101,144}</string>
            </dict>
            <key>p14_rb4</key>
            <dict>
                <key>frame</key>
                <string>{{1907,286},{75,134}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>sourceSize</key>
                <string>{101,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p14.pvr.ccz</string>
            <key>size</key>
            <string>{2040,1738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1525b846b4db2efc4a98d997bfda4cb$</string>
            <key>textureFileName</key>
            <string>p14.pvr.ccz</string>
        </dict>
    </dict>
</plist>
