<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p26_arm</key>
            <dict>
                <key>frame</key>
                <string>{{10,1940},{94,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{94,55}</string>
            </dict>
            <key>p26_bg1</key>
            <dict>
                <key>frame</key>
                <string>{{10,10},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p26_bg2</key>
            <dict>
                <key>frame</key>
                <string>{{10,1396},{42,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{42,211}</string>
            </dict>
            <key>p26_fg</key>
            <dict>
                <key>frame</key>
                <string>{{10,793},{1024,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,588}</string>
            </dict>
            <key>p26_lb_1</key>
            <dict>
                <key>frame</key>
                <string>{{262,1555},{237,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{237,144}</string>
            </dict>
            <key>p26_lb_2</key>
            <dict>
                <key>frame</key>
                <string>{{10,1781},{237,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{237,144}</string>
            </dict>
            <key>p26_lb_3</key>
            <dict>
                <key>frame</key>
                <string>{{67,1396},{237,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{237,144}</string>
            </dict>
            <key>p26_lb_4</key>
            <dict>
                <key>frame</key>
                <string>{{10,1622},{237,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{237,144}</string>
            </dict>
            <key>p26_seed</key>
            <dict>
                <key>frame</key>
                <string>{{67,1555},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p26.pvr.ccz</string>
            <key>size</key>
            <string>{1044,2005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8635af7a06f1eff6555e6fcb6c20f8b1$</string>
            <key>textureFileName</key>
            <string>p26.pvr.ccz</string>
        </dict>
    </dict>
</plist>
