<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p11_bag</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{217,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{217,257}</string>
            </dict>
            <key>p11_leaf_1</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{460,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{460,415}</string>
            </dict>
            <key>p11_leaf_2</key>
            <dict>
                <key>frame</key>
                <string>{{468,419},{399,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{399,373}</string>
            </dict>
            <key>p11_leaf_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{464,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{464,430}</string>
            </dict>
            <key>p11_st</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{393,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{393,323}</string>
            </dict>
            <key>p11_t</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{85,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{85,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p11.pvr.ccz</string>
            <key>size</key>
            <string>{1017,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f3b82a67dcc84c88079da9a40448352$</string>
            <key>textureFileName</key>
            <string>p11.pvr.ccz</string>
        </dict>
    </dict>
</plist>
