<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p15_1</key>
            <dict>
                <key>frame</key>
                <string>{{284,1041},{280,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{280,218}</string>
            </dict>
            <key>p15_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,1041},{280,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{280,218}</string>
            </dict>
            <key>p15_11</key>
            <dict>
                <key>frame</key>
                <string>{{566,902},{280,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{280,218}</string>
            </dict>
            <key>p15_2</key>
            <dict>
                <key>frame</key>
                <string>{{284,821},{280,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{280,218}</string>
            </dict>
            <key>p15_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{280,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{280,218}</string>
            </dict>
            <key>p15_4</key>
            <dict>
                <key>frame</key>
                <string>{{566,682},{280,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{280,218}</string>
            </dict>
            <key>p15_5</key>
            <dict>
                <key>frame</key>
                <string>{{284,601},{280,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{280,218}</string>
            </dict>
            <key>p15_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{280,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{280,218}</string>
            </dict>
            <key>p15_7</key>
            <dict>
                <key>frame</key>
                <string>{{566,462},{280,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{280,218}</string>
            </dict>
            <key>p15_8</key>
            <dict>
                <key>frame</key>
                <string>{{284,381},{280,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{280,218}</string>
            </dict>
            <key>p15_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{280,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{280,218}</string>
            </dict>
            <key>p15_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{776,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{776,377}</string>
            </dict>
            <key>p15_seed</key>
            <dict>
                <key>frame</key>
                <string>{{566,381},{66,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{66,53}</string>
            </dict>
            <key>p15_te1</key>
            <dict>
                <key>frame</key>
                <string>{{566,1122},{213,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{213,228}</string>
            </dict>
            <key>p15_te2</key>
            <dict>
                <key>frame</key>
                <string>{{780,232},{213,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{213,228}</string>
            </dict>
            <key>p15_te3</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{213,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{213,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p15.pvr.ccz</string>
            <key>size</key>
            <string>{995,1352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfa2e03f008a4b869bb80f0ede4baa6d$</string>
            <key>textureFileName</key>
            <string>p15.pvr.ccz</string>
        </dict>
    </dict>
</plist>
