<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_1</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{1024,209}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>sourceSize</key>
                <string>{1024,331}</string>
            </dict>
            <key>p1_2</key>
            <dict>
                <key>frame</key>
                <string>{{200,323},{192,121}}</string>
                <key>offset</key>
                <string>{-32,25}</string>
                <key>sourceSize</key>
                <string>{1024,331}</string>
            </dict>
            <key>p1_3</key>
            <dict>
                <key>frame</key>
                <string>{{848,213},{382,211}}</string>
                <key>offset</key>
                <string>{-321,-56}</string>
                <key>sourceSize</key>
                <string>{1024,331}</string>
            </dict>
            <key>p1_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{844,319}}</string>
                <key>offset</key>
                <string>{-68,-6}</string>
                <key>sourceSize</key>
                <string>{1024,331}</string>
            </dict>
            <key>p1_yun_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{196,154}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>p1_yun_2</key>
            <dict>
                <key>frame</key>
                <string>{{1232,213},{196,198}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p1.pvr.ccz</string>
            <key>size</key>
            <string>{1874,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:894321ea9fe9ecd0644e988e97f3e929$</string>
            <key>textureFileName</key>
            <string>p1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
