<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p23_lb_1</key>
            <dict>
                <key>frame</key>
                <string>{{260,422},{84,58}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>sourceSize</key>
                <string>{84,58}</string>
            </dict>
            <key>p23_lb_2</key>
            <dict>
                <key>frame</key>
                <string>{{354,138},{90,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>p23_lb_3</key>
            <dict>
                <key>frame</key>
                <string>{{354,70},{90,66}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>p23_lb_4</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{90,66}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>p23_lb_5</key>
            <dict>
                <key>frame</key>
                <string>{{174,422},{84,70}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>p23_lb_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{84,78}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>p23_lb_7</key>
            <dict>
                <key>frame</key>
                <string>{{88,422},{84,70}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>p23_lb_8</key>
            <dict>
                <key>frame</key>
                <string>{{354,200},{88,66}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>p23_pk</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{350,209}</string>
            </dict>
            <key>p23_pk_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{350,207}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{350,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p23.pvr.ccz</string>
            <key>size</key>
            <string>{446,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2d9fd5da6fca4cb6238a0d0a51b2db3$</string>
            <key>textureFileName</key>
            <string>p23.pvr.ccz</string>
        </dict>
    </dict>
</plist>
