<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p3_bag</key>
            <dict>
                <key>frame</key>
                <string>{{383,248},{106,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{106,131}</string>
            </dict>
            <key>p3_bag1</key>
            <dict>
                <key>frame</key>
                <string>{{469,381},{26,1}}</string>
                <key>offset</key>
                <string>{3,260}</string>
                <key>sourceSize</key>
                <string>{26,1}</string>
            </dict>
            <key>p3_bag10</key>
            <dict>
                <key>frame</key>
                <string>{{104,431},{98,123}}</string>
                <key>offset</key>
                <string>{-4,-191}</string>
                <key>sourceSize</key>
                <string>{98,123}</string>
            </dict>
            <key>p3_bag11</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{112,123}}</string>
                <key>offset</key>
                <string>{0,-191}</string>
                <key>sourceSize</key>
                <string>{112,123}</string>
            </dict>
            <key>p3_bag2</key>
            <dict>
                <key>frame</key>
                <string>{{308,304},{66,11}}</string>
                <key>offset</key>
                <string>{2,255}</string>
                <key>sourceSize</key>
                <string>{66,11}</string>
            </dict>
            <key>p3_bag3</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{88,41}}</string>
                <key>offset</key>
                <string>{1,240}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>p3_bag4</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{100,91}}</string>
                <key>offset</key>
                <string>{-5,215}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
            <key>p3_bag5</key>
            <dict>
                <key>frame</key>
                <string>{{367,381},{100,125}}</string>
                <key>offset</key>
                <string>{-5,155}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>p3_bag6</key>
            <dict>
                <key>frame</key>
                <string>{{206,304},{100,125}}</string>
                <key>offset</key>
                <string>{-5,58}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>p3_bag7</key>
            <dict>
                <key>frame</key>
                <string>{{104,304},{100,125}}</string>
                <key>offset</key>
                <string>{-5,-62}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>p3_bag8</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{100,125}}</string>
                <key>offset</key>
                <string>{-6,-187}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>p3_bag9</key>
            <dict>
                <key>frame</key>
                <string>{{383,127},{110,119}}</string>
                <key>offset</key>
                <string>{-1,-193}</string>
                <key>sourceSize</key>
                <string>{110,119}</string>
            </dict>
            <key>p3_seed1</key>
            <dict>
                <key>frame</key>
                <string>{{308,317},{59,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{59,36}</string>
            </dict>
            <key>p3_seed2</key>
            <dict>
                <key>frame</key>
                <string>{{204,431},{53,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>p3_seed3</key>
            <dict>
                <key>frame</key>
                <string>{{308,355},{57,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{57,36}</string>
            </dict>
            <key>p3_seed4</key>
            <dict>
                <key>frame</key>
                <string>{{308,393},{55,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{55,36}</string>
            </dict>
            <key>p3_zz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{379,300}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{379,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p3.pvr.ccz</string>
            <key>size</key>
            <string>{497,567}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b1319c75c8c659845d2a6bef5aeba60$</string>
            <key>textureFileName</key>
            <string>p3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
