<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p17_ani1</key>
            <dict>
                <key>frame</key>
                <string>{{567,796},{258,487}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{258,487}</string>
            </dict>
            <key>p17_ani2</key>
            <dict>
                <key>frame</key>
                <string>{{830,615},{179,272}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{179,272}</string>
            </dict>
            <key>p17_ani3</key>
            <dict>
                <key>frame</key>
                <string>{{567,486},{261,308}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{261,308}</string>
            </dict>
            <key>p17_ani4</key>
            <dict>
                <key>frame</key>
                <string>{{830,486},{191,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{191,127}</string>
            </dict>
            <key>p17_rb</key>
            <dict>
                <key>frame</key>
                <string>{{2,659},{280,326}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{280,326}</string>
            </dict>
            <key>p17_rb_2</key>
            <dict>
                <key>frame</key>
                <string>{{285,486},{280,326}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{280,326}</string>
            </dict>
            <key>p17_t1</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{281,173}}</string>
                <key>offset</key>
                <string>{-13,36}</string>
                <key>sourceSize</key>
                <string>{281,173}</string>
            </dict>
            <key>p17_t2</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{401,233}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>sourceSize</key>
                <string>{401,233}</string>
            </dict>
            <key>p17_t3</key>
            <dict>
                <key>frame</key>
                <string>{{431,245},{415,239}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>sourceSize</key>
                <string>{415,239}</string>
            </dict>
            <key>p17_t4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{427,245}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{427,245}</string>
            </dict>
            <key>p17_t5</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{427,241}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>sourceSize</key>
                <string>{427,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p17.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e56bc2d0cf20dfb598807cb63e3ea2a$</string>
            <key>textureFileName</key>
            <string>p17.pvr.ccz</string>
        </dict>
    </dict>
</plist>
