<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p5_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{631,345}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>sourceSize</key>
                <string>{631,345}</string>
            </dict>
            <key>p5_fp1</key>
            <dict>
                <key>frame</key>
                <string>{{56,463},{52,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{52,38}</string>
            </dict>
            <key>p5_fp2</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{52,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{52,38}</string>
            </dict>
            <key>p5_fp3</key>
            <dict>
                <key>frame</key>
                <string>{{110,463},{50,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>p5_fp4</key>
            <dict>
                <key>frame</key>
                <string>{{960,254},{52,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{52,38}</string>
            </dict>
            <key>p5_g1_1</key>
            <dict>
                <key>frame</key>
                <string>{{294,460},{171,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{171,109}</string>
            </dict>
            <key>p5_g1_2</key>
            <dict>
                <key>frame</key>
                <string>{{294,349},{175,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{175,109}</string>
            </dict>
            <key>p5_g2_1</key>
            <dict>
                <key>frame</key>
                <string>{{635,148},{323,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{323,144}</string>
            </dict>
            <key>p5_g2_2</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{323,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{323,144}</string>
            </dict>
            <key>p5_g3_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{250,154}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>sourceSize</key>
                <string>{250,154}</string>
            </dict>
            <key>p5_g3_2</key>
            <dict>
                <key>frame</key>
                <string>{{635,294},{253,174}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{253,174}</string>
            </dict>
            <key>p6_bf_r_1</key>
            <dict>
                <key>frame</key>
                <string>{{112,349},{108,112}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>p6_bf_r_2</key>
            <dict>
                <key>frame</key>
                <string>{{568,564},{84,108}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>sourceSize</key>
                <string>{84,108}</string>
            </dict>
            <key>p6_bf_r_3</key>
            <dict>
                <key>frame</key>
                <string>{{818,664},{70,112}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
            <key>p6_bf_r_4</key>
            <dict>
                <key>frame</key>
                <string>{{740,653},{76,106}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>sourceSize</key>
                <string>{76,106}</string>
            </dict>
            <key>p6_bf_r_5</key>
            <dict>
                <key>frame</key>
                <string>{{222,349},{70,112}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
            <key>p6_bf_r_6</key>
            <dict>
                <key>frame</key>
                <string>{{791,543},{84,108}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>sourceSize</key>
                <string>{84,108}</string>
            </dict>
            <key>p6_bf_r_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{108,112}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>p6_bf_r_8</key>
            <dict>
                <key>frame</key>
                <string>{{890,294},{128,118}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,118}</string>
            </dict>
            <key>p6_bf_v_1</key>
            <dict>
                <key>frame</key>
                <string>{{791,470},{97,71}}</string>
                <key>offset</key>
                <string>{26,-9}</string>
                <key>sourceSize</key>
                <string>{97,71}</string>
            </dict>
            <key>p6_bf_v_2</key>
            <dict>
                <key>frame</key>
                <string>{{690,547},{99,71}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>sourceSize</key>
                <string>{99,71}</string>
            </dict>
            <key>p6_bf_v_3</key>
            <dict>
                <key>frame</key>
                <string>{{690,470},{99,75}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>sourceSize</key>
                <string>{99,75}</string>
            </dict>
            <key>p6_bf_v_4</key>
            <dict>
                <key>frame</key>
                <string>{{471,438},{111,87}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>sourceSize</key>
                <string>{111,87}</string>
            </dict>
            <key>p6_bf_v_5</key>
            <dict>
                <key>frame</key>
                <string>{{471,349},{135,87}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>sourceSize</key>
                <string>{135,87}</string>
            </dict>
            <key>p6_bf_v_6</key>
            <dict>
                <key>frame</key>
                <string>{{890,414},{111,87}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>sourceSize</key>
                <string>{111,87}</string>
            </dict>
            <key>p6_bf_v_7</key>
            <dict>
                <key>frame</key>
                <string>{{467,527},{99,75}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>sourceSize</key>
                <string>{99,75}</string>
            </dict>
            <key>p6_bf_v_8</key>
            <dict>
                <key>frame</key>
                <string>{{890,503},{99,71}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>sourceSize</key>
                <string>{99,71}</string>
            </dict>
            <key>p6_bf_y_1</key>
            <dict>
                <key>frame</key>
                <string>{{956,664},{64,80}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>p6_bf_y_2</key>
            <dict>
                <key>frame</key>
                <string>{{877,576},{84,86}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>p6_bf_y_3</key>
            <dict>
                <key>frame</key>
                <string>{{584,470},{104,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{104,92}</string>
            </dict>
            <key>p6_bf_y_4</key>
            <dict>
                <key>frame</key>
                <string>{{654,620},{84,86}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>p6_bf_y_5</key>
            <dict>
                <key>frame</key>
                <string>{{890,664},{64,80}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>p6_bf_y_6</key>
            <dict>
                <key>frame</key>
                <string>{{960,168},{52,84}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>sourceSize</key>
                <string>{52,84}</string>
            </dict>
            <key>p6_bf_y_7</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{54,78}}</string>
                <key>offset</key>
                <string>{-26,-4}</string>
                <key>sourceSize</key>
                <string>{54,78}</string>
            </dict>
            <key>p6_bf_y_8</key>
            <dict>
                <key>frame</key>
                <string>{{960,82},{52,84}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>sourceSize</key>
                <string>{52,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p5.pvr.ccz</string>
            <key>size</key>
            <string>{1022,778}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:050eb7c0c6aeab2bc3b873fef18f0e3b$</string>
            <key>textureFileName</key>
            <string>p5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
