<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p20_F_546_352_</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{390,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{392,415}</string>
            </dict>
            <key>p20_G_1_219_441</key>
            <dict>
                <key>frame</key>
                <string>{{1028,419},{365,331}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{381,367}</string>
            </dict>
            <key>p20_G_2_219_441</key>
            <dict>
                <key>frame</key>
                <string>{{1395,592},{363,333}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>sourceSize</key>
                <string>{381,367}</string>
            </dict>
            <key>p20_G_3_219_441</key>
            <dict>
                <key>frame</key>
                <string>{{1028,752},{361,331}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{381,367}</string>
            </dict>
            <key>p20_M_1_799_455</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{375,294}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>sourceSize</key>
                <string>{391,310}</string>
            </dict>
            <key>p20_M_2_799_455</key>
            <dict>
                <key>frame</key>
                <string>{{1420,298},{367,292}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>sourceSize</key>
                <string>{391,310}</string>
            </dict>
            <key>p20_bg_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p20.pvr.ccz</string>
            <key>size</key>
            <string>{1797,1085}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46e1b2b403bb091e6d38b15edd03b691$</string>
            <key>textureFileName</key>
            <string>p20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
