<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p6_bf_r_1</key>
            <dict>
                <key>frame</key>
                <string>{{890,897},{138,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{138,122}</string>
            </dict>
            <key>p6_bf_r_2</key>
            <dict>
                <key>frame</key>
                <string>{{818,773},{138,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{138,122}</string>
            </dict>
            <key>p6_bf_r_3</key>
            <dict>
                <key>frame</key>
                <string>{{750,897},{138,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{138,122}</string>
            </dict>
            <key>p6_bf_r_4</key>
            <dict>
                <key>frame</key>
                <string>{{678,773},{138,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{138,122}</string>
            </dict>
            <key>p6_bf_r_5</key>
            <dict>
                <key>frame</key>
                <string>{{610,897},{138,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{138,122}</string>
            </dict>
            <key>p6_bf_r_6</key>
            <dict>
                <key>frame</key>
                <string>{{538,773},{138,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{138,122}</string>
            </dict>
            <key>p6_bf_r_7</key>
            <dict>
                <key>frame</key>
                <string>{{470,897},{138,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{138,122}</string>
            </dict>
            <key>p6_bf_r_8</key>
            <dict>
                <key>frame</key>
                <string>{{398,773},{138,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{138,122}</string>
            </dict>
            <key>p6_bf_v_1</key>
            <dict>
                <key>frame</key>
                <string>{{1113,757},{153,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{153,101}</string>
            </dict>
            <key>p6_bf_v_2</key>
            <dict>
                <key>frame</key>
                <string>{{1028,654},{153,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{153,101}</string>
            </dict>
            <key>p6_bf_v_3</key>
            <dict>
                <key>frame</key>
                <string>{{1028,551},{153,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{153,101}</string>
            </dict>
            <key>p6_bf_v_4</key>
            <dict>
                <key>frame</key>
                <string>{{1028,448},{153,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{153,101}</string>
            </dict>
            <key>p6_bf_v_5</key>
            <dict>
                <key>frame</key>
                <string>{{1028,345},{153,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{153,101}</string>
            </dict>
            <key>p6_bf_v_6</key>
            <dict>
                <key>frame</key>
                <string>{{1030,876},{153,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{153,101}</string>
            </dict>
            <key>p6_bf_v_7</key>
            <dict>
                <key>frame</key>
                <string>{{958,773},{153,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{153,101}</string>
            </dict>
            <key>p6_bf_v_8</key>
            <dict>
                <key>frame</key>
                <string>{{315,902},{153,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{153,101}</string>
            </dict>
            <key>p6_bf_y_1</key>
            <dict>
                <key>frame</key>
                <string>{{1271,2},{112,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{112,96}</string>
            </dict>
            <key>p6_bf_y_2</key>
            <dict>
                <key>frame</key>
                <string>{{1299,835},{112,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{112,96}</string>
            </dict>
            <key>p6_bf_y_3</key>
            <dict>
                <key>frame</key>
                <string>{{1268,737},{112,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{112,96}</string>
            </dict>
            <key>p6_bf_y_4</key>
            <dict>
                <key>frame</key>
                <string>{{1183,639},{112,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{112,96}</string>
            </dict>
            <key>p6_bf_y_5</key>
            <dict>
                <key>frame</key>
                <string>{{1183,541},{112,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{112,96}</string>
            </dict>
            <key>p6_bf_y_6</key>
            <dict>
                <key>frame</key>
                <string>{{1183,443},{112,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{112,96}</string>
            </dict>
            <key>p6_bf_y_7</key>
            <dict>
                <key>frame</key>
                <string>{{1183,345},{112,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{112,96}</string>
            </dict>
            <key>p6_bf_y_8</key>
            <dict>
                <key>frame</key>
                <string>{{1185,860},{112,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{112,96}</string>
            </dict>
            <key>p6_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,769}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,769}</string>
            </dict>
            <key>p6_rb_am</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{115,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{115,56}</string>
            </dict>
            <key>p6_rb_am1</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{241,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{241,341}</string>
            </dict>
            <key>p6_rb_b</key>
            <dict>
                <key>frame</key>
                <string>{{176,773},{137,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{137,153}</string>
            </dict>
            <key>p6_rb_e1</key>
            <dict>
                <key>frame</key>
                <string>{{315,773},{81,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{81,127}</string>
            </dict>
            <key>p6_rb_e2</key>
            <dict>
                <key>frame</key>
                <string>{{119,939},{136,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{136,28}</string>
            </dict>
            <key>p6_rb_h</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{172,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p6.pvr.ccz</string>
            <key>size</key>
            <string>{1413,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f5de9d53b58c4310d4486123c276061$</string>
            <key>textureFileName</key>
            <string>p6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
