<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p9_bag</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{224,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{224,242}</string>
            </dict>
            <key>p9_fl1</key>
            <dict>
                <key>frame</key>
                <string>{{228,353},{216,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{216,343}</string>
            </dict>
            <key>p9_fl2</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{131,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{131,204}</string>
            </dict>
            <key>p9_fl3</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{127,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{127,208}</string>
            </dict>
            <key>p9_st</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{402,349}</string>
            </dict>
            <key>p9_t</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{94,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{94,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p9.pvr.ccz</string>
            <key>size</key>
            <string>{502,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae8b450cc24060393edab074673e9523$</string>
            <key>textureFileName</key>
            <string>p9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
