<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p12_bag</key>
            <dict>
                <key>frame</key>
                <string>{{1028,139},{70,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,106}</string>
            </dict>
            <key>p12_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p12_br</key>
            <dict>
                <key>frame</key>
                <string>{{1110,2},{733,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{733,323}</string>
            </dict>
            <key>p12_fls</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{994,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{994,238}</string>
            </dict>
            <key>p12_rb</key>
            <dict>
                <key>frame</key>
                <string>{{1028,337},{360,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{360,354}</string>
            </dict>
            <key>p12_rb_a</key>
            <dict>
                <key>frame</key>
                <string>{{1028,247},{67,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{67,88}</string>
            </dict>
            <key>p12_rb_el</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{79,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{79,110}</string>
            </dict>
            <key>p12_rb_er</key>
            <dict>
                <key>frame</key>
                <string>{{998,899},{110,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>p12_rb_l</key>
            <dict>
                <key>frame</key>
                <string>{{998,772},{89,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{89,125}</string>
            </dict>
            <key>p12_seed</key>
            <dict>
                <key>frame</key>
                <string>{{1089,114},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p12.pvr.ccz</string>
            <key>size</key>
            <string>{1845,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c916a94870a311255d1456b9879294b$</string>
            <key>textureFileName</key>
            <string>p12.pvr.ccz</string>
        </dict>
    </dict>
</plist>
