<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p10_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p10_flower</key>
            <dict>
                <key>frame</key>
                <string>{{1672,2},{320,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{320,512}</string>
            </dict>
            <key>p10_flower_2</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2},{320,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{320,512}</string>
            </dict>
            <key>p10_flower_3</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{320,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{320,512}</string>
            </dict>
            <key>p10_l1</key>
            <dict>
                <key>frame</key>
                <string>{{974,772},{350,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{350,199}</string>
            </dict>
            <key>p10_l2</key>
            <dict>
                <key>frame</key>
                <string>{{622,772},{350,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{350,199}</string>
            </dict>
            <key>p10_m_1</key>
            <dict>
                <key>frame</key>
                <string>{{1199,643},{169,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{169,125}</string>
            </dict>
            <key>p10_m_2</key>
            <dict>
                <key>frame</key>
                <string>{{1199,516},{169,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{169,125}</string>
            </dict>
            <key>p10_m_3</key>
            <dict>
                <key>frame</key>
                <string>{{1028,643},{169,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{169,125}</string>
            </dict>
            <key>p10_m_4</key>
            <dict>
                <key>frame</key>
                <string>{{1028,516},{169,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{169,125}</string>
            </dict>
            <key>p10_rb1</key>
            <dict>
                <key>frame</key>
                <string>{{467,772},{153,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{153,229}</string>
            </dict>
            <key>p10_rb2</key>
            <dict>
                <key>frame</key>
                <string>{{312,772},{153,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{153,229}</string>
            </dict>
            <key>p10_rb3</key>
            <dict>
                <key>frame</key>
                <string>{{157,772},{153,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{153,229}</string>
            </dict>
            <key>p10_rb4</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{153,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{153,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p10.pvr.ccz</string>
            <key>size</key>
            <string>{1994,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e075f21f41dc7a29c030c17efdf97d0$</string>
            <key>textureFileName</key>
            <string>p10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
