<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p4_ball</key>
            <dict>
                <key>frame</key>
                <string>{{843,939},{75,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>p4_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p4_clock</key>
            <dict>
                <key>frame</key>
                <string>{{1163,2},{417,251}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{417,251}</string>
            </dict>
            <key>p4_clock_1</key>
            <dict>
                <key>frame</key>
                <string>{{763,939},{78,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>p4_l</key>
            <dict>
                <key>frame</key>
                <string>{{626,772},{135,200}}</string>
                <key>offset</key>
                <string>{4,78}</string>
                <key>sourceSize</key>
                <string>{135,200}</string>
            </dict>
            <key>p4_l_l</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{473,248}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>sourceSize</key>
                <string>{473,248}</string>
            </dict>
            <key>p4_mama arm</key>
            <dict>
                <key>frame</key>
                <string>{{477,979},{65,36}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{65,36}</string>
            </dict>
            <key>p4_mamab</key>
            <dict>
                <key>frame</key>
                <string>{{477,772},{147,205}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{147,205}</string>
            </dict>
            <key>p4_mamah</key>
            <dict>
                <key>frame</key>
                <string>{{1582,2},{233,256}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{233,256}</string>
            </dict>
            <key>p4_sh</key>
            <dict>
                <key>frame</key>
                <string>{{544,979},{36,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{36,13}</string>
            </dict>
            <key>p4_tv</key>
            <dict>
                <key>frame</key>
                <string>{{935,772},{157,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{157,87}</string>
            </dict>
            <key>p4_tv_xh1</key>
            <dict>
                <key>frame</key>
                <string>{{1817,180},{157,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{157,87}</string>
            </dict>
            <key>p4_tv_xh2</key>
            <dict>
                <key>frame</key>
                <string>{{1817,91},{157,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{157,87}</string>
            </dict>
            <key>p4_tv_xh3</key>
            <dict>
                <key>frame</key>
                <string>{{1817,2},{157,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{157,87}</string>
            </dict>
            <key>p4_tv_xh4</key>
            <dict>
                <key>frame</key>
                <string>{{1004,861},{157,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{157,87}</string>
            </dict>
            <key>p4_x_b</key>
            <dict>
                <key>frame</key>
                <string>{{920,939},{82,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{82,50}</string>
            </dict>
            <key>p4_x_h</key>
            <dict>
                <key>frame</key>
                <string>{{763,772},{170,165}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{170,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p4.pvr.ccz</string>
            <key>size</key>
            <string>{1976,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91b60027c7a3225cb663210a9044d506$</string>
            <key>textureFileName</key>
            <string>p4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
