<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>index_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>index_cd</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>index_center_mask</key>
            <dict>
                <key>frame</key>
                <string>{{2,1974},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{743,97}</string>
            </dict>
            <key>index_mu_1</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1414},{108,108}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>sourceSize</key>
                <string>{120,108}</string>
            </dict>
            <key>index_mu_2</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1956},{90,90}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>sourceSize</key>
                <string>{120,108}</string>
            </dict>
            <key>index_mu_mask</key>
            <dict>
                <key>frame</key>
                <string>{{2,1974},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{150,227}</string>
            </dict>
            <key>index_play_1</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1298},{116,114}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>index_play_2</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1956},{92,90}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>index_play_mask</key>
            <dict>
                <key>frame</key>
                <string>{{2,1974},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{137,221}</string>
            </dict>
            <key>index_y_1</key>
            <dict>
                <key>frame</key>
                <string>{{1175,866},{145,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{145,430}</string>
            </dict>
            <key>index_y_10</key>
            <dict>
                <key>frame</key>
                <string>{{590,1542},{145,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{145,430}</string>
            </dict>
            <key>index_y_11</key>
            <dict>
                <key>frame</key>
                <string>{{443,1542},{145,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{145,430}</string>
            </dict>
            <key>index_y_12</key>
            <dict>
                <key>frame</key>
                <string>{{296,1542},{145,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{145,430}</string>
            </dict>
            <key>index_y_13</key>
            <dict>
                <key>frame</key>
                <string>{{149,1542},{145,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{145,430}</string>
            </dict>
            <key>index_y_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{145,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{145,430}</string>
            </dict>
            <key>index_y_2</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{145,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{145,430}</string>
            </dict>
            <key>index_y_3</key>
            <dict>
                <key>frame</key>
                <string>{{1175,434},{145,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{145,430}</string>
            </dict>
            <key>index_y_4</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1524},{145,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{145,430}</string>
            </dict>
            <key>index_y_5</key>
            <dict>
                <key>frame</key>
                <string>{{1028,866},{145,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{145,430}</string>
            </dict>
            <key>index_y_6</key>
            <dict>
                <key>frame</key>
                <string>{{1028,434},{145,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{145,430}</string>
            </dict>
            <key>index_y_7</key>
            <dict>
                <key>frame</key>
                <string>{{1031,2},{145,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{145,430}</string>
            </dict>
            <key>index_y_8</key>
            <dict>
                <key>frame</key>
                <string>{{884,1542},{145,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{145,430}</string>
            </dict>
            <key>index_y_9</key>
            <dict>
                <key>frame</key>
                <string>{{737,1542},{145,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{145,430}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>index_Scene.pvr.ccz</string>
            <key>size</key>
            <string>{1325,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0eb42cdc40dc12c7c25a011c3c96eb60$</string>
            <key>textureFileName</key>
            <string>index_Scene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
