<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p25_comic_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{729,515}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>sourceSize</key>
                <string>{729,515}</string>
            </dict>
            <key>p25_comic_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{729,515}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>sourceSize</key>
                <string>{729,515}</string>
            </dict>
            <key>p25_comic_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{729,515}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>sourceSize</key>
                <string>{729,515}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p25_comic.pvr.ccz</string>
            <key>size</key>
            <string>{733,1553}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffeb16190034b3e406d1c2b3fdc8eb87$</string>
            <key>textureFileName</key>
            <string>p25_comic.pvr.ccz</string>
        </dict>
    </dict>
</plist>
