<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mask33_1</key>
            <dict>
                <key>frame</key>
                <string>{{341,768},{341,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{341,256}</string>
            </dict>
            <key>mask33_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,768},{341,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{341,256}</string>
            </dict>
            <key>p22_bg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p22_bg.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1b04e2ace65057f3f8c3cdb6715ce20$</string>
            <key>textureFileName</key>
            <string>p22_bg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
