<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mask44_1</key>
            <dict>
                <key>frame</key>
                <string>{{256,768},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>mask44_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,768},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>p24_bg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p24_bg.pvr.ccz</string>
            <key>size</key>
            <string>{1024,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ef8e2e3d6338485df63624f2eef91c$</string>
            <key>textureFileName</key>
            <string>p24_bg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
