<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p7_h1_1</key>
            <dict>
                <key>frame</key>
                <string>{{186,446},{182,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{182,199}</string>
            </dict>
            <key>p7_h1_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{182,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{182,199}</string>
            </dict>
            <key>p7_h1_3</key>
            <dict>
                <key>frame</key>
                <string>{{204,245},{182,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{182,199}</string>
            </dict>
            <key>p7_h2_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{148,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{148,102}</string>
            </dict>
            <key>p7_h2_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{148,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{148,102}</string>
            </dict>
            <key>p7_h2_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{148,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{148,102}</string>
            </dict>
            <key>p7_tt1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{200,322}</string>
            </dict>
            <key>p7_tt2</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{193,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{193,241}</string>
            </dict>
            <key>p7_tt3</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{109,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{109,92}</string>
            </dict>
            <key>p7_tt4</key>
            <dict>
                <key>frame</key>
                <string>{{370,446},{131,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{131,91}</string>
            </dict>
            <key>p7_tt5</key>
            <dict>
                <key>frame</key>
                <string>{{399,96},{80,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{80,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p7.pvr.ccz</string>
            <key>size</key>
            <string>{510,839}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4aabcb8cd3655fad86491d33735af311$</string>
            <key>textureFileName</key>
            <string>p7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
