<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pp24_Co_1_762.501</key>
            <dict>
                <key>frame</key>
                <string>{{1776,209},{180,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{180,205}</string>
            </dict>
            <key>pp24_Co_2_762.501</key>
            <dict>
                <key>frame</key>
                <string>{{1776,2},{180,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{180,205}</string>
            </dict>
            <key>pp24_Guang_651.417</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{746,702}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{746,702}</string>
            </dict>
            <key>pp24_Mao_287.533</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{55,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{55,31}</string>
            </dict>
            <key>pp24_XG_1.512.114</key>
            <dict>
                <key>frame</key>
                <string>{{750,233},{1024,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,229}</string>
            </dict>
            <key>pp24_XG_2.512.114</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{1024,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,229}</string>
            </dict>
            <key>pp24_XG_3.512.114</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{1024,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p24.pvr.ccz</string>
            <key>size</key>
            <string>{1958,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d520117a916eb61bdba6584cd6c91263$</string>
            <key>textureFileName</key>
            <string>p24.pvr.ccz</string>
        </dict>
    </dict>
</plist>
