<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p16_d_1</key>
            <dict>
                <key>frame</key>
                <string>{{784,1854},{89,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{89,102}</string>
            </dict>
            <key>p16_d_2</key>
            <dict>
                <key>frame</key>
                <string>{{784,1750},{89,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{89,102}</string>
            </dict>
            <key>p16_d_3</key>
            <dict>
                <key>frame</key>
                <string>{{784,1646},{89,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{89,102}</string>
            </dict>
            <key>p16_d_4</key>
            <dict>
                <key>frame</key>
                <string>{{784,1542},{89,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{89,102}</string>
            </dict>
            <key>p16_mask</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p16_ms</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p16_sun</key>
            <dict>
                <key>frame</key>
                <string>{{564,1749},{218,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{218,205}</string>
            </dict>
            <key>p16_sun_mask</key>
            <dict>
                <key>frame</key>
                <string>{{564,1542},{218,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{218,205}</string>
            </dict>
            <key>p16_tuzi</key>
            <dict>
                <key>frame</key>
                <string>{{283,1542},{279,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{279,451}</string>
            </dict>
            <key>p16_tuzi_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{279,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{279,451}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p16.pvr.ccz</string>
            <key>size</key>
            <string>{1028,1995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0123d8b1d234613ab19a1129a3985fc$</string>
            <key>textureFileName</key>
            <string>p16.pvr.ccz</string>
        </dict>
    </dict>
</plist>
