<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p2_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p2_drop1</key>
            <dict>
                <key>frame</key>
                <string>{{41,940},{36,53}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{36,53}</string>
            </dict>
            <key>p2_drop2</key>
            <dict>
                <key>frame</key>
                <string>{{79,940},{30,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>p2_drop3</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{37,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{37,56}</string>
            </dict>
            <key>p2_drop4</key>
            <dict>
                <key>frame</key>
                <string>{{41,995},{20,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>p2_drop5</key>
            <dict>
                <key>frame</key>
                <string>{{79,978},{23,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>p2_drop6</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{20,23}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>p2_mama</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{407,624}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{407,624}</string>
            </dict>
            <key>p2_mama_2</key>
            <dict>
                <key>frame</key>
                <string>{{1437,2},{409,620}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>sourceSize</key>
                <string>{409,620}</string>
            </dict>
            <key>p2_w1</key>
            <dict>
                <key>frame</key>
                <string>{{104,772},{66,152}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>sourceSize</key>
                <string>{66,152}</string>
            </dict>
            <key>p2_w2</key>
            <dict>
                <key>frame</key>
                <string>{{172,772},{94,140}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>sourceSize</key>
                <string>{94,140}</string>
            </dict>
            <key>p2_w3</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{100,166}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{100,166}</string>
            </dict>
            <key>p2_zl</key>
            <dict>
                <key>frame</key>
                <string>{{268,772},{697,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{697,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p2.pvr.ccz</string>
            <key>size</key>
            <string>{1848,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca63286b8b6ff1acbf7b43621b554699$</string>
            <key>textureFileName</key>
            <string>p2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
