<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p18_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>p18_cat_1</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{277,371}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>sourceSize</key>
                <string>{277,371}</string>
            </dict>
            <key>p18_cat_tz</key>
            <dict>
                <key>frame</key>
                <string>{{1307,2},{199,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{199,290}</string>
            </dict>
            <key>p18_d_1</key>
            <dict>
                <key>frame</key>
                <string>{{1508,2},{274,378}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>sourceSize</key>
                <string>{274,378}</string>
            </dict>
            <key>p18_d_tz</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{158,236}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{158,236}</string>
            </dict>
            <key>p18_grf_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{214,462}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>sourceSize</key>
                <string>{214,462}</string>
            </dict>
            <key>p18_grf_tz</key>
            <dict>
                <key>frame</key>
                <string>{{218,772},{202,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{202,206}</string>
            </dict>
            <key>p18_gt</key>
            <dict>
                <key>frame</key>
                <string>{{422,772},{30,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{30,103}</string>
            </dict>
            <key>p18_lb_1</key>
            <dict>
                <key>frame</key>
                <string>{{454,772},{220,193}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>sourceSize</key>
                <string>{220,193}</string>
            </dict>
            <key>p18_lb_tz</key>
            <dict>
                <key>frame</key>
                <string>{{676,772},{157,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{157,161}</string>
            </dict>
            <key>p18_li_1</key>
            <dict>
                <key>frame</key>
                <string>{{835,772},{371,521}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{371,521}</string>
            </dict>
            <key>p18_li_tz</key>
            <dict>
                <key>frame</key>
                <string>{{1208,772},{265,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{265,339}</string>
            </dict>
            <key>p18_mk_1</key>
            <dict>
                <key>frame</key>
                <string>{{1475,772},{302,442}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>sourceSize</key>
                <string>{302,442}</string>
            </dict>
            <key>p18_mk_tz</key>
            <dict>
                <key>frame</key>
                <string>{{1779,772},{235,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{235,301}</string>
            </dict>
            <key>p18_ms_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,1295},{401,353}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{401,353}</string>
            </dict>
            <key>p18_ms_tz</key>
            <dict>
                <key>frame</key>
                <string>{{405,1295},{282,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{282,238}</string>
            </dict>
            <key>p18_pig_1</key>
            <dict>
                <key>frame</key>
                <string>{{689,1295},{317,328}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>sourceSize</key>
                <string>{317,328}</string>
            </dict>
            <key>p18_pig_tz</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1295},{289,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{289,240}</string>
            </dict>
            <key>p18_rb</key>
            <dict>
                <key>frame</key>
                <string>{{2,1650},{894,293}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>sourceSize</key>
                <string>{894,293}</string>
            </dict>
            <key>p18_sp_2</key>
            <dict>
                <key>frame</key>
                <string>{{898,1650},{283,313}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{283,313}</string>
            </dict>
            <key>p18_sp_tz</key>
            <dict>
                <key>frame</key>
                <string>{{1183,1650},{253,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{253,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>p18.pvr.ccz</string>
            <key>size</key>
            <string>{2016,1965}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:309be56543d1ee1fa7b895946a037388$</string>
            <key>textureFileName</key>
            <string>p18.pvr.ccz</string>
        </dict>
    </dict>
</plist>
